In [26]:
from tqdm import tqdm
import random
import matplotlib.pyplot as plt
import imageio
import sys
import csv
import pandas as pd
import os

In [10]:
objectID_df = pd.read_csv('../results/area_aggregation/objectID.csv')
metadata_df = pd.read_csv('../data/data_root/building_metadata.csv')

In [11]:
print(metadata_df.shape, objectID_df.shape)

(1669902, 15) (22990, 1)

In [15]:
filtered_df = metadata_df[metadata_df['OBJECTID'].isin(objectID_df['0'])]
filtered_df

,OBJECTID,GeneralUseType,SpecificUseType,EffectiveYearBuilt,building.type,vintage,idf.name,idf.kw,usetype,FootprintArea.m2,building.area.m2,id.grid.coarse,id.grid.finer,id.tract,HEIGHT
11,37,Residential,Single Family Residence,1950,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,91.316398,69.3963,30,27164.0,6037599000,13.36
14,46,Residential,Single Family Residence,1988,single-family,1981-2008 (2004),SingleFamily-2004.idf,SingleFamily-2004,single_family,99.909763,193.0462,30,27164.0,6037599000,27.09
20,52,Residential,"Double, Duplex, or Two Units",1949,multi-family,before 1980,MultiFamily-pre-1980.idf,MultiFamily-pre-1980,multi_family,94.014890,189.7018,30,27164.0,6037599000,27.70
24,57,Residential,Single Family Residence,1979,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,341.028058,314.1878,30,26486.0,6037599000,26.01
28,63,Residential,Single Family Residence,1985,single-family,1981-2008 (2004),SingleFamily-2004.idf,SingleFamily-2004,single_family,268.205501,325.5216,30,27164.0,6037599000,27.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15476,25638,Residential,Single Family Residence,1960,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,227.679816,121.2345,48,35397.0,6037296401,9.34
15477,25642,Residential,Three Units (Any Combination),1937,multi-family,before 1980,MultiFamily-pre-1980.idf,MultiFamily-pre-1980,multi_family,62.026620,262.0709,48,36752.0,6037296402,13.06
15478,25643,Residential,Four Units (Any Combination),1990,multi-family,1981-2008 (2004),MultiFamily-2004.idf,MultiFamily-2004,multi_family,129.942767,464.5000,48,36752.0,6037296500,21.14
15479,25644,Residential,Single Family Residence,1938,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,164.018356,176.6958,48,36752.0,6037296500,12.65
15480,25645,Residential,Single Family Residence,1953,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,103.109725,103.5835,48,36752.0,6037296500,9.36

In [18]:
filtered_df_res['idf.name'].unique()

array(['SingleFamily-pre-1980.idf', 'SingleFamily-2004.idf',
       'MultiFamily-pre-1980.idf', 'SingleFamily-2013.idf',
       'MultiFamily-2004.idf', 'MultiFamily-2013.idf',
       'SmallHotel-DOE Ref Pre-1980-ASHRAE 169-2013-3B.idf',
       'SmallHotel-90.1-2004-ASHRAE 169-2013-3B.idf'], dtype=object)

In [21]:
filtered_df_res = filtered_df[filtered_df['idf.name'].str.contains('Family')]
filtered_df_res

,OBJECTID,GeneralUseType,SpecificUseType,EffectiveYearBuilt,building.type,vintage,idf.name,idf.kw,usetype,FootprintArea.m2,building.area.m2,id.grid.coarse,id.grid.finer,id.tract,HEIGHT
11,37,Residential,Single Family Residence,1950,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,91.316398,69.3963,30,27164.0,6037599000,13.36
14,46,Residential,Single Family Residence,1988,single-family,1981-2008 (2004),SingleFamily-2004.idf,SingleFamily-2004,single_family,99.909763,193.0462,30,27164.0,6037599000,27.09
20,52,Residential,"Double, Duplex, or Two Units",1949,multi-family,before 1980,MultiFamily-pre-1980.idf,MultiFamily-pre-1980,multi_family,94.014890,189.7018,30,27164.0,6037599000,27.70
24,57,Residential,Single Family Residence,1979,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,341.028058,314.1878,30,26486.0,6037599000,26.01
28,63,Residential,Single Family Residence,1985,single-family,1981-2008 (2004),SingleFamily-2004.idf,SingleFamily-2004,single_family,268.205501,325.5216,30,27164.0,6037599000,27.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15476,25638,Residential,Single Family Residence,1960,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,227.679816,121.2345,48,35397.0,6037296401,9.34
15477,25642,Residential,Three Units (Any Combination),1937,multi-family,before 1980,MultiFamily-pre-1980.idf,MultiFamily-pre-1980,multi_family,62.026620,262.0709,48,36752.0,6037296402,13.06
15478,25643,Residential,Four Units (Any Combination),1990,multi-family,1981-2008 (2004),MultiFamily-2004.idf,MultiFamily-2004,multi_family,129.942767,464.5000,48,36752.0,6037296500,21.14
15479,25644,Residential,Single Family Residence,1938,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,164.018356,176.6958,48,36752.0,6037296500,12.65
15480,25645,Residential,Single Family Residence,1953,single-family,before 1980,SingleFamily-pre-1980.idf,SingleFamily-pre-1980,single_family,103.109725,103.5835,48,36752.0,6037296500,9.36

In [42]:
filtered_df_res['id.grid.coarse'].unique()

array([30, 31, 62, 48, 34, 35, 49, 76], dtype=int64)

In [67]:
filtered_df_res['idf.name'].unique()

array(['SingleFamily-pre-1980.idf', 'SingleFamily-2004.idf',
       'MultiFamily-pre-1980.idf', 'SingleFamily-2013.idf',
       'MultiFamily-2004.idf', 'MultiFamily-2013.idf'], dtype=object)

In [72]:
filtered_df_res_simple.to_csv('objectid_ref.csv')

In [68]:
filtered_df_res_simple = filtered_df_res[['OBJECTID','idf.kw', 'FootprintArea.m2', 'building.area.m2']]
filtered_df_res_simple

       OBJECTID                 idf.kw  FootprintArea.m2  building.area.m2
11           37  SingleFamily-pre-1980         91.316398           69.3963
14           46      SingleFamily-2004         99.909763          193.0462
20           52   MultiFamily-pre-1980         94.014890          189.7018
24           57  SingleFamily-pre-1980        341.028058          314.1878
28           63      SingleFamily-2004        268.205501          325.5216
...         ...                    ...               ...               ...
15476     25638  SingleFamily-pre-1980        227.679816          121.2345
15477     25642   MultiFamily-pre-1980         62.026620          262.0709
15478     25643       MultiFamily-2004        129.942767          464.5000
15479     25644  SingleFamily-pre-1980        164.018356          176.6958
15480     25645  SingleFamily-pre-1980        103.109725          103.5835

[13367 rows x 4 columns]

In [70]:
filtered_df_res_simple.groupby('idf.kw').sum().to_csv('aggregated_area.csv')

In [43]:
unique_combinations = filtered_df_res[['id.grid.coarse', 'idf.name']].drop_duplicates()
unique_combinations

      id.grid.coarse                   idf.name
11                30  SingleFamily-pre-1980.idf
14                30      SingleFamily-2004.idf
20                30   MultiFamily-pre-1980.idf
41                30      SingleFamily-2013.idf
90                30       MultiFamily-2004.idf
496               30       MultiFamily-2013.idf
625               31      SingleFamily-2013.idf
705               62  SingleFamily-pre-1980.idf
710               62       MultiFamily-2004.idf
711               62   MultiFamily-pre-1980.idf
739               62      SingleFamily-2004.idf
1292              62       MultiFamily-2013.idf
3278              48  SingleFamily-pre-1980.idf
3280              48   MultiFamily-pre-1980.idf
3283              48      SingleFamily-2004.idf
3329              48       MultiFamily-2004.idf
3364              48      SingleFamily-2013.idf
3416              34  SingleFamily-pre-1980.idf
3445              34      SingleFamily-2004.idf
3518              34   MultiFamily-pre-1980.idf
4159              35  SingleFamily-pre-1980.idf
4298              35      SingleFamily-2004.idf
4337              34      SingleFamily-2013.idf
4771              35      SingleFamily-2013.idf
5189              35   MultiFamily-pre-1980.idf
5639              49  SingleFamily-pre-1980.idf
5818              49      SingleFamily-2004.idf
7273              49   MultiFamily-pre-1980.idf
8964              62      SingleFamily-2013.idf
9848              76  SingleFamily-pre-1980.idf

In [24]:
def list_files_in_directory(directory):
    files = []
    for filename in os.listdir(directory):
        if os.path.isfile(os.path.join(directory, filename)):
            files.append(filename)
    return files

In [27]:
# Specify the directory path
directory_path = "../data/data_idf/"

# Call the function to list files in the directory
file_list = list_files_in_directory(directory_path)
file_list[0]

'MultiFamily-2004____10.csv'

In [39]:
energy_df = pd.DataFrame(columns=['category', 'consumption'])

for file in tqdm(file_list):
    tmp_df = pd.read_csv(os.path.join(directory_path, file), index_col=None)
    elec_sum = tmp_df['Electricity:Facility [J](Hourly)'].sum()
    gas_sum = tmp_df['NaturalGas:Facility [J](Hourly) '].sum()
    energy_sum = elec_sum+gas_sum
    
    index_value = file.split('.')[0]
    energy_value = energy_sum
    energy_df.loc[len(energy_df)] = [index_value, energy_value]

energy_df

100%|████████████████████████████████████████████████████████████████████████████████| 303/303 [00:09<00:00, 30.83it/s]

                        category   consumption
0         MultiFamily-2004____10  2.719710e+11
1        MultiFamily-2004____105  2.524729e+11
2        MultiFamily-2004____106  2.497600e+11
3        MultiFamily-2004____107  2.681532e+11
4        MultiFamily-2004____110  3.462998e+11
..                           ...           ...
298  SingleFamily-pre-1980____91  9.653632e+10
299  SingleFamily-pre-1980____92  8.902949e+10
300  SingleFamily-pre-1980____93  9.442537e+10
301  SingleFamily-pre-1980____96  1.366747e+11
302  SingleFamily-pre-1980____97  1.394352e+11

[303 rows x 2 columns]

In [41]:
energy_df.to_csv('energy_df.csv',index=False)

In [47]:
energy_df[['Category1', 'epw']] = energy_df['category'].str.split('____', expand=True)
energy_df

                        category   consumption              Category1  epw
0         MultiFamily-2004____10  2.719710e+11       MultiFamily-2004   10
1        MultiFamily-2004____105  2.524729e+11       MultiFamily-2004  105
2        MultiFamily-2004____106  2.497600e+11       MultiFamily-2004  106
3        MultiFamily-2004____107  2.681532e+11       MultiFamily-2004  107
4        MultiFamily-2004____110  3.462998e+11       MultiFamily-2004  110
..                           ...           ...                    ...  ...
298  SingleFamily-pre-1980____91  9.653632e+10  SingleFamily-pre-1980   91
299  SingleFamily-pre-1980____92  8.902949e+10  SingleFamily-pre-1980   92
300  SingleFamily-pre-1980____93  9.442537e+10  SingleFamily-pre-1980   93
301  SingleFamily-pre-1980____96  1.366747e+11  SingleFamily-pre-1980   96
302  SingleFamily-pre-1980____97  1.394352e+11  SingleFamily-pre-1980   97

[303 rows x 4 columns]

In [56]:
energy_df.to_csv('energy_df.csv', index=False)

In [51]:
energy_df['Category1'].unique()

array(['MultiFamily-2004', 'MultiFamily-2013', 'MultiFamily-pre-1980',
       'SingleFamily-2004', 'SingleFamily-2013', 'SingleFamily-pre-1980'],
      dtype=object)

In [52]:
grouped = energy_df.groupby('Category1')['consumption'].mean()
# Print the distribution for each group
grouped

Category1
MultiFamily-2004         2.671106e+11
MultiFamily-2013         2.130107e+11
MultiFamily-pre-1980     3.711741e+11
SingleFamily-2004        7.482566e+10
SingleFamily-2013        5.029184e+10
SingleFamily-pre-1980    1.055941e+11
Name: consumption, dtype: float64

In [53]:
grouped.to_csv('energy.csv')

In [57]:
pip install pyreadr

Collecting pyreadr
  Downloading pyreadr-0.4.7-cp39-cp39-win_amd64.whl (1.1 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\vapeu\miniconda3\lib\site-packages (from pyreadr) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\vapeu\miniconda3\lib\site-packages (from pandas>=1.2.0->pyreadr) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vapeu\miniconda3\lib\site-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vapeu\miniconda3\lib\site-packages (from pandas>=1.2.0->pyreadr) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\vapeu\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7
Note: you may need to restart the kernel to use updated packages.

In [61]:
import pyreadr

result = pyreadr.read_r('../data/data_idf/prototype.area.rda')

# Access the data frame from the result
result

OrderedDict([('prototype.area',
                                                             idf.kw  prototype.m2
              0   FullServiceRestaurant-90_1-2004-ASHRAE 169-201...        511.15
              1   FullServiceRestaurant-90_1-2013-ASHRAE 169-201...        511.15
              2   FullServiceRestaurant-DOE Ref Pre-1980-ASHRAE ...        511.15
              3     HeavyManufacturing-90_1-2004-ASHRAE 169-2013-3B       4835.13
              4     HeavyManufacturing-90_1-2013-ASHRAE 169-2013-3B       4835.13
              5   HeavyManufacturing-DOE Ref Pre-1980-ASHRAE 169...       4835.13
              6               Hospital-90_1-2004-ASHRAE 169-2013-3B      22436.08
              7               Hospital-90_1-2013-ASHRAE 169-2013-3B      22436.08
              8        Hospital-DOE Ref Pre-1980-ASHRAE 169-2013-3B      22436.08
              9             LargeHotel-90_1-2004-ASHRAE 169-2013-3B      11345.29
              10            LargeHotel-90_1-2013-ASHRAE 169-2013-3B      11345.29
              11     LargeHotel-DOE Ref Pre-1980-ASHRAE 169-2013-3B      11345.29
              12           LargeOffice-90_1-2004-ASHRAE 169-2013-3B      46320.38
              13           LargeOffice-90_1-2013-ASHRAE 169-2013-3B      46320.38
              14    LargeOffice-DOE Ref Pre-1980-ASHRAE 169-2013-3B      46320.38
              15    LightManufacturing-90_1-2004-ASHRAE 169-2013-3B       4835.13
              16    LightManufacturing-90_1-2013-ASHRAE 169-2013-3B       4835.13
              17  LightManufacturing-DOE Ref Pre-1980-ASHRAE 169...       4835.13
              18          MediumOffice-90_1-2004-ASHRAE 169-2013-3B       4982.19
              19          MediumOffice-90_1-2013-ASHRAE 169-2013-3B       4982.19
              20   MediumOffice-DOE Ref Pre-1980-ASHRAE 169-2013-3B       4982.19
              21      MidriseApartment-90_1-2004-ASHRAE 169-2013-3B       3134.59
              22      MidriseApartment-90_1-2013-ASHRAE 169-2013-3B       3134.59
              23  MidriseApartment-DOE Ref Pre-1980-ASHRAE 169-2...       3134.59
              24                                   MultiFamily-2004        646.60
              25                                   MultiFamily-2013        646.60
              26                               MultiFamily-pre-1980        646.60
              27                            NursingHome_baseline-LA       5718.60
              28         PrimarySchool-90_1-2004-ASHRAE 169-2013-3B       6871.00
              29         PrimarySchool-90_1-2013-ASHRAE 169-2013-3B       6871.00
              30  PrimarySchool-DOE Ref Pre-1980-ASHRAE 169-2013-3B       6871.00
              31                             Religious-post-1980-3B       1170.58
              32                              Religious-pre-1980-3B       1170.58
              33      RetailStandalone-90_1-2004-ASHRAE 169-2013-3B       2293.99
              34      RetailStandalone-90_1-2013-ASHRAE 169-2013-3B       2293.99
              35  RetailStandalone-DOE Ref Pre-1980-ASHRAE 169-2...       2293.99
              36       SecondarySchool-90_1-2004-ASHRAE 169-2013-3B      19592.00
              37       SecondarySchool-90_1-2013-ASHRAE 169-2013-3B      19592.00
              38  SecondarySchool-DOE Ref Pre-1980-ASHRAE 169-20...      19592.00
              39                                  SingleFamily-2004        235.93
              40                                  SingleFamily-2013        235.93
              41                              SingleFamily-pre-1980        235.93
              42            SmallHotel-90_1-2004-ASHRAE 169-2013-3B       4013.58
              43            SmallHotel-90_1-2013-ASHRAE 169-2013-3B       4013.58
              44     SmallHotel-DOE Ref Pre-1980-ASHRAE 169-2013-3B       4013.58
              45           SmallOffice-90_1-2004-ASHRAE 169-2013-3B        511.16
              46           SmallOffice-90_1-2013-ASHRAE 169-2013-3B        511.16
              47    SmallOffice-DOE Ref Pre-1980-ASHRAE 169-2013-3B        511.16
              48           SuperMarket-90_1-2004-ASHRAE 169-2013-3B       4180.84
              49           SuperMarket-90_1-2013-ASHRAE 169-2013-3B       4180.84
              50    SuperMarket-DOE Ref Pre-1980-ASHRAE 169-2013-3B       4180.84
              51             Warehouse-90_1-2004-ASHRAE 169-2013-3B       4835.13
              52             Warehouse-90_1-2013-ASHRAE 169-2013-3B       4835.13
              53      Warehouse-DOE Ref Pre-1980-ASHRAE 169-2013-3B       4835.13
              54               College-90_1-2004-ASHRAE 169-2013-3B       6415.51
              55               College-90_1-2013-ASHRAE 169-2013-3B       6415.51
              56        College-DOE Ref Pre-1980-ASHRAE 169-2013-3B       6415.51)])

In [64]:
result.keys()

odict_keys(['prototype.area'])

In [66]:
data_frame = result['prototype.area']
data_frame
data_frame.to_csv('prototype.area.csv', index=False)